<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This home html</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum omnis suscipit, assumenda nisi voluptatem sunt, possimus, iusto officiis similique distinctio enim. Dolore, dolor soluta. Laudantium obcaecati possimus, neque repellat eum voluptas porro veniam, in tempore animi ullam alias quo voluptatem est omnis assumenda. Doloremque, saepe quis cumque consectetur tenetur placeat.</p>
</body>
</html>